@page
@model SalesManagement.Pages.ManagementResources.Products.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProdFullname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProdFullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProdName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProdName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProdKana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProdKana)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProdType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProdType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.SerialNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.SerialNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Unitprice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Unitprice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.PoPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.PoPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.TaxType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.TaxType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.CategoryCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.CategoryCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.WideUseType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.WideUseType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.StockManageType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.StockManageType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.StockReserveType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.StockReserveType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.SupCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.SupCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.SupSubNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.SupSubNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.UpdateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Updater)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Updater)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Products.ProdCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
